<div class="col-12 tab-navbar tab-container">
  <ul class="nav nav-tabs d-flex mb-3">
    <li class="nav-item">
      <a #tab1 data-toggle="tab" class="nav-link active" [translate]="'Students.EditCourse'"></a>
    </li>
    <li class="nav-item">
      <a #tab2 data-toggle="tab" class="nav-link" [translate]="'Forms.EditPartFactors'"></a>
    </li>
  </ul>
</div>

<ng-container>
  <app-edit-courses
    [ngClass]="tab1.classList.contains('active')? 'd-block': 'd-none'"
    [items]="items"
    [formEditName]="formEditName"
    [toastHeader]="toastHeader"
    [courseProperties]="courseProperties"
    [execute]="execute"
    [deleteCourseButton]="deleteCourseButton">
  </app-edit-courses>

  <app-students-courses-percentages-edit #partsEdit
    [ngClass]="tab2.classList.contains('active')? 'd-block': 'd-none'"
    [complexCourses]="complexCourses"
    [reloadParent]="reloadParent">
  </app-students-courses-percentages-edit>
</ng-container>
