<div>
  <div class="py-2">
    <h2 *ngIf="(group$ | async) as group">
      <span>{{group.name}}</span>
      <ng-container>
        <a [routerLink]="[ '/consents/configuration/groups' ]">
          <div class="h5 pt-1 font-weight-normal" [translate]="'Settings.Lists.ConsentFieldGroups.Description'"></div>
        </a>
      </ng-container>
    </h2>
  </div>
  <div *ngIf="(group$ | async) as group">
    <div class="card pb-4 col-12">
      <div class="card-body pb-0">
        <div class="mb-2">
          <h5 class="mb-0" [translate]="'Settings.Attributes.description'"></h5>
          <p class="card-text" [innerHTML]="group.description"></p>
        </div>
        <div class="mb-2">
          <h5 class="mb-0" [translate]="'Settings.Attributes.archived'"></h5>
          <p class="card-text" [translate]="group.archived ? 'Yes': 'No'" ></p>
        </div>
        <div class="mb-2">
          <h5 class="mb-0" [translate]="'Settings.Attributes.dateCreated'"></h5>
          <p class="card-text" [translate]="group.dateCreated | date : 'medium'" ></p>
        </div>
        <div class="mb-2">
          <h5 class="mb-0" [translate]="'Settings.Attributes.dateModified'"></h5>
          <p class="card-text" [translate]="group.dateModified | date : 'medium'" ></p>
        </div>
      </div>
      <div *if-location="'/services/consents'" class="card-footer col-lg-3">
        <div>
          <button (click)="edit()" class="btn btn-block btn-theme" [translate]="'Edit'"></button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="(group$ | async) as group">
    <div class="col-12">
      <h2>
        <span [translate]="'Settings.Lists.ConsentFields.Description'"></span>
        <h5 class="font-weight-normal" [translate]="'Settings.Lists.ConsentFields.LongDescription'"></h5>
      </h2>
    </div>
    <div class="row">
      <div class="col-auto mt-4">
        <div class="font-xl text-secondary" *ngIf="recordsTotal && recordsTotal > 1">
          <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Tables.Items'"></span>
        </div>
        <div class="font-xl text-secondary" *ngIf="recordsTotal === 1">
          <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Tables.Item'"></span>
        </div>
      </div>
      <div class="pull-right ml-auto mr-3 mt-3">
        <div class="font-lg btn-toolbar mt-3" *ngIf="!readonly">
          <a *ngIf="table && table.selected && table.selected.length"
            class="text-danger text-decoration-none mr-2" href="javascript:void(0)" (click)="remove()">
            <span>-</span><span>&nbsp;</span><span [translate]="'Tables.RemoveItem'"></span>
          </a>
          <a class="text-indigo text-decoration-none" [routerLink]="['.', { outlets:{ modal:'fields/add'} }]">
            <span>+</span><span>&nbsp;</span><span [translate]="'Tables.AddItem'"></span>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <app-advanced-table #table (load)="onDataLoad($event)" [multipleSelect]="true"></app-advanced-table>
      </div>
    </div>
    
  </div>
</div>
<router-modal></router-modal>