<div *ngIf="!isLoading">
  <div *ngIf="programGroup">
    <div class="card">
      <div>
        <div class="card-body">
          <div [ngSwitch]="programGroup?.groupType">
            <div *ngSwitchCase="1">
              <div class="card-title">
                <h5 [translate]="'StudyPrograms.Groups'" class="mr-3 my-auto"></h5>
              </div>
              <div *ngIf="childrenGroups && childrenGroups.length; else noChildren" class="flex-column">
                <ul class="sis--list-group sis--list-group-header">
                  <li class="sis--list-group-item">
                    <div class="d-flex justify-content-center align-items-center">
                      <div class="sis--list-group-item_lg_column"
                           [translate]="'Courses.titleLabel'"></div>
                      <div class="sis--list-group-item_lg_column d-none d-md-block"
                           [translate]="'Courses.Description'"></div>
                      <div class="sis--list-group-item_lg_column d-none d-md-block"
                           [translate]="'Courses.DisplayCode'"></div>
                      <div class="sis--list-group-item_sm_column d-none d-md-block"
                           [translate]="'StudyPrograms.MinCourses'"></div>
                      <div class="sis--list-group-item_sm_column d-none d-md-block"
                           [translate]="'StudyPrograms.MinCourses'"></div>
                      <div class="sis--list-group-item_sm_column d-none d-md-block"></div>
                    </div>
                  </li>
                </ul>
                <ul class="sis--list-group sis--list-group-body">

                  <li class="sis--list-group-item" *ngFor="let programGroup of childrenGroups">
                    <div class="d-flex justify-content-center align-items-center list-color">
                      <div class="sis--list-group-item_lg_column"><span
                        class=" text-dark"> {{programGroup?.name}}</span></div>
                      <div class="sis--list-group-item_lg_column d-none d-md-block"><span
                        class=" text-dark">{{programGroup?.description}}</span></div>
                      <div class="sis--list-group-item_lg_column d-none d-md-block"><span
                        class="text-dark">{{ programGroup?.displayCode}}</span></div>
                      <div class="sis--list-group-item_sm_column d-none d-md-block"><span
                        class="text-dark">{{ programGroup?.minCourses}}</span></div>
                      <div class="sis--list-group-item_sm_column d-none d-md-block"><span
                        class="text-dark">{{ programGroup?.maxCourses}}</span></div>
                      <div class="sis--list-group-item_sm_column"><a [routerLink]="['../', programGroup.id]">
                        <i class="far fa-eye text-indigo"></i>
                      </a></div>
                    </div>
                  </li>
                </ul>
              </div>
              <ng-template #noChildren>
                <div class="d-flex">
                  <div class="col-12 text-center">
                    <span class="mt-2 font-sm text-secondary" [translate]="'StudyPrograms.NoChildrenPrograms'"></span>
                  </div>
                </div>
              </ng-template>
            </div>
            <div *ngSwitchCase="2">
              <div class="card-title">
                <h5 [translate]="'StudyPrograms.Courses'" class="mr-3 my-auto"></h5>
              </div>
              <div class="row">
                <div class="pull-right ml-auto mr-3 my-3">
                  <a role="button" [routerLink]="'.'" [replaceUrl]="false" class="text-indigo text-decoration-none mx-1" (click)="editCourses(false)">
                    <span>+</span><span>&nbsp;</span><span [translate]="'StudyPrograms.AddCourse'"></span>
                  </a>
                  <a *ngIf="groupCourses.length" [routerLink]="'.'" [replaceUrl]="false" role="button" class="text-indigo text-decoration-none mx-1" (click)="editCourses(true)">
                    <span>-</span><span>&nbsp;</span><span [translate]="'StudyPrograms.RemoveCourse'"></span>
                  </a>
                  <button *ngIf="programGroup.isCalculated" class="ml-2 btn btn-indigo"
                          [translate]="'StudyPrograms.EditFactors'" (click)="editFactors()"></button>
                </div>
              </div>
              <div *ngIf="groupCourses && groupCourses.length; else noCourses" id="group-list" class="flex-column">
                <ul class="sis--list-group sis--list-group-header">
                  <li class="sis--list-group-item">
                    <div class="d-flex justify-content-center align-items-center">
                      <div class="sis--list-group-item_lg_column d-none d-md-block"
                           [translate]="'Courses.DisplayCode'"></div>
                      <div class="sis--list-group-item_lg_column"
                           [translate]="'Courses.titleLabel'"></div>
                      <div class="sis--list-group-item_lg_column"
                           [translate]="'Courses.Department'"></div>
                      <div class="sis--list-group-item_lg_column d-none d-md-block"
                           [translate]="'StudyPrograms.GroupPercentage'"></div>

                    </div>
                  </li>
                </ul>
                <ul class="sis--list-group sis--list-group-body">

                  <li class="sis--list-group-item" *ngFor="let groupCourse of groupCourses">
                    <div class="d-flex justify-content-center align-items-center list-color">
                      <div class="sis--list-group-item_lg_column d-none d-md-block"><span
                        class=" text-dark">{{groupCourse.course.displayCode}}</span></div>
                      <div class="sis--list-group-item_lg_column"><span
                        class=" text-dark"> {{groupCourse.course.name}}</span></div>
                      <div class="sis--list-group-item_lg_column"><span
                        class=" text-dark"> {{groupCourse.course.department?.abbreviation}}</span></div>
                      <div class="sis--list-group-item_lg_column d-none d-md-block"><span
                        class="text-dark">{{programGroup.isCalculated? groupCourse.programGroupFactor:'-'}}</span></div>

                    </div>
                  </li>
                </ul>
              </div>
              <ng-template #noCourses>
                <div class="d-flex">
                  <div class="col-12 text-center">
                    <span class="mt-2 font-sm text-secondary" [translate]="'StudyPrograms.NoProgramCourses'"></span>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<router-modal></router-modal>
