<div class="card" *ngIf="logs && logs.length">
  <div class="card-header d-md-flex">
    <h5 class="text-gray-600 mt-3"><span [translate]="'Requests.History'"></span></h5>
  </div>
  <div class="card-body py-0 pb-4">
    <div id="group-list"  class="flex-column">
      <ul class="sis--list-group sis--list-group-header">
        <li class="sis--list-group-item">
          <div class="d-flex justify-content-center align-items-center">
            <div class="sis--list-group-item_sm_column text-left" [translate]="'Requests.Date'"></div>
            <div class="sis--list-group-item_lg_column d-none d-md-block px-4 text-left" [translate]="'Requests.Description'"></div>
            <div class="sis--list-group-item_sm_column d-none d-lg-block text-left" [translate]="'Requests.Username'"></div>
          </div>
        </li>
      </ul>
      <ul class="sis--list-group sis--list-group-body">
        <li class="sis--list-group-item" *ngFor="let log of logs">
          <div class="d-flex justify-content-center align-items-center list-color">
            <div class="sis--list-group-item_sm_column text-left">{{ log?.dateCreated | date:'short' }}</div>
            <div class="sis--list-group-item_lg_column d-none d-md-block text-secondary px-4 text-left">{{ log?.title }}</div>
            <div class="sis--list-group-item_sm_column d-none d-lg-block text-secondary text-left">{{ log?.username }} </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

