<div *ngIf="model">
  <div class="row mt-4" *ngFor="let student of model.students">
    <div class="col-lg-12 col-md-6 col-sm-12">
      <form-collapsible [collapsed]="false">
        <form-header>
          <span class="text-gray-600 font-xs my-auto d-inline-block" >{{student.student.person.givenName}} {{student.student.person.familyName}}</span>
        </form-header>
        <form-body>
          <app-theses-dashboard-grades-students-form [student]="student"></app-theses-dashboard-grades-students-form>
          <app-theses-dashboard-grades-instructors-form [thesisResults]="student.thesisResults" [editMode]="editMode"
          [editableGrades]="student.editableGrades"  [gsIsNumeric]="gsIsNumeric" [source]="'gradesTab'"
          [gradeScaleValues]="gradeScaleValues"></app-theses-dashboard-grades-instructors-form>
        </form-body>
      </form-collapsible>
    </div>
  </div>
  <div class="row pt-3 pb-3">
    <button type="button" class="btn btn-light mt-2 mb-3 ml-3" (click)="toggleEditMode()" [disabled]="editMode || !editableGrades" [translate]="'Theses.Edit'"></button>
    <button type="button" class="btn btn-indigo mt-2 mb-3 ml-3" [disabled]="!editMode || !editableGrades" (click)="getGradeSubmissionConfirmation()" [translate]="'Theses.Submit'"></button>
  </div>
</div>
