<ng-container *ngIf="!loading">
  <div>
    <div class="row" *ngIf="lastError">
      <div class="col-12">
        <div class="alert alert-warning" role="alert">
          <span [translate]="'Requests.SignatureDetails.ErrorTitle'"></span><br />
          <small *ngIf="lastError.status >= 0" [translate]="'E' + lastError.status + '.message'"></small>
          <small *ngIf="lastError.status == null">{{ lastError.message }}</small>
        </div>
      </div>
    </div>
    <p [translate]="'Requests.SignatureDetails.Description'"></p>
    <ng-container *ngFor="let action of actions">
      <div class="card mt-4">
        <div class="card-body px-4 py-3">
          <h5 class="card-title">{{ action.owner?.name || '-' }} ({{ action.owner?.alternateName || '-' }})</h5>
          <div class="form-group row">
            <div class="col-2">
              <span class="text-dark" [translate]="'Requests.Role'"></span>
            </div>
            <div class="col-10">
              <span class="text-secondary text-wrap">{{
                action.reportTemplateRole?.roleType?.locale?.name || action.reportTemplateRole?.roleType?.name || '-'
              }}</span>
            </div>
          </div>
          <ng-container *ngIf="useSignaturePriority">
            <div class="form-group row">
              <div class="col-2">
                <span class="text-dark" [translate]="'Requests.Priority'"></span>
              </div>
              <div class="col-10">
                <span class="text-secondary text-wrap">{{ action.reportTemplateRole?.index || '-' }}</span>
              </div>
            </div>
          </ng-container>
          <div class="form-group row">
            <div class="col-2">
              <span class="text-dark" [translate]="'Requests.HasSignedDocument.Title'"></span>
            </div>
            <div class="col-10">
              <ng-container *ngIf="action.actionStatus && action.actionStatus.alternateName === 'CompletedActionStatus'">
                <span class="text-success font-weight-bold text-wrap"
                  ><span><i class="fa fa-check text-success text-wrap"></i>&nbsp;</span>
                  {{ 'Requests.HasSignedDocument.Yes' | translate : { dateSigned: action.dateSigned | date : 'short' } }}</span
                >
              </ng-container>
              <ng-container *ngIf="['PotentialActionStatus', 'ActiveActionStatus'].includes(action.actionStatus?.alternateName)">
                <span class="text-indigo text-wrap"> {{ 'Requests.HasSignedDocument.No' | translate }}</span>
              </ng-container>
              <ng-container *ngIf="action.actionStatus?.alternateName === 'CancelledActionStatus'">
                <span class="text-danger text-wrap font-weight-bold">
                  {{ 'Requests.HasSignedDocument.Cancelled' | translate }} ({{ action.cancelReason || '-' }}).</span
                >
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="actions == null || actions.length === 0">
      <p [translate]="'Requests.SignatureDetails.ErrorFetchingData'"></p>
    </ng-container>
  </div>
</ng-container>
