<ng-container *ngIf="result && result.message">
  <p [innerHTML]="result.message"></p>
</ng-container>

<ng-container *ngIf="result == null">
  <p [translate]="'Departments.StudyProgramReplacementAction.NoFailures'"></p>
</ng-container>
